<div class="col-md-3">
    <div class="page-header">
        <h4>Buscar</h4>
        <div class="input-group">
            <input id="search-query" type="text" class="form-control" placeholder="" value="{{ currentQuery }}">
            <span class="input-group-btn">
                <a href="#" class="btn btn-default" type="button"
                   data-replace="__query__"
                   data-url="{{ route_search(currentCategory ? currentCategory.slug : null, currentBrandSlugs ? currentBrandSlugs : null, '__query__') }}"
                   id="search-query-go"     >
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
            </span>
        </div>
    </div>



    <div class="page-header">
        <h4>Categoria</h4>
        {% set categoryN  = 0 %}
        <ul class="tree">
            {% for category in categoryList %}
                <li>

                    <a class="{% if currentCategory is not empty and category.slug == currentCategory.slug %}active{% endif %}"
                       href="{{ route_search(category.slug, currentBrandSlugs, currentQuery) }}">
                        {{ category.name }}
                    </a>

                    {% include 'AppBundle:Vertical:_filters-category.html.twig' with {'categoryR': category, 'currentCategory' : currentCategory, 'categoryN' : categoryN, 'currentBrandSlugs' : currentBrandSlugs, 'currentQuery': currentQuery} only %}

                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="page-header header-brand">
        <h4>Marca</h4>
        <ul class="list-inline list-tags">
            {% for brand in brandList %}
                <li>
                    <a class="btn btn-xs" href="{{ route_search(currentCategory ? currentCategory.slug : null, brand ? brand.slug : null, currentQuery) }}">{{ brand.name }}
                        <span class="badge">{{ brand.numProducts }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="page-header">
        <h4>Tienda</h4>
        <ul class="tree">
            {% for shop in shopList %}
                <li>
                    <a rel="nofollow" target="_blank" href="{{ route_deep_link('shop', shop.id) }}">
                        {{ shop.name }} <span class="badge">{{ shop.numProducts }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>

